* {
    box-sizing: border-box;
}

body {
    position: fixed;
    background-color: none;
    max-width: 800px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    top: 50px;
    z-index: 3;
}

.form-container {
    color: #fff;
    max-width: 800px;
    margin: 0 auto;
    background-color: none;
    padding: 30px;
    border-radius: 15px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ffffff20;
    border-radius: 4px;
}