/* --- Elementi di Sfondo --- */
body {
    background-color: #000022;
}


.liquid-shape {
    position: absolute;
    filter: blur(120px);
    z-index: -1;
    opacity: 0.6;
}

.shape-1,
.shape-2,
.shape-3 {
    position: fixed;
}
.shape-1 {
    top: -10%;
    left: -10%;
    width: 500px;
    height: 500px;
    background: #F05D23;
    border-radius: 40% 60% 70% 30%;
}

.shape-2 {
    bottom: -20%;
    right: -10%;
    width: 400px;
    height: 400px;
    background: #470FF4;
    border-radius: 60% 40% 30% 70%;}

.shape-3 {
    bottom: 30%;
    right: 20%;
    width: 300px;
    height: 300px;
    background: var(#00129d);
    border-radius: 50%;
    opacity: 0.4;
}