/*----------------------- CONTROLLO MENU LATERALE -----------------------*/
.bar1,
.bar2,
.bar3 {
    width: 25px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
    z-index: 2;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.233);
    backdrop-filter: blur(30px) saturate(120%);
    -webkit-backdrop-filter: blur(30px) saturate(120%);
    border: 1px solid rgba(49, 48, 48, 0.534);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-radius: 0px 20px 20px 0px;
}

.sidenav ul {
    padding: 0px;
    list-style: none;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: #000000;
    display: block;
    transition: 0.2s;
}

.sidenav a:hover {
    transform: translateX(15px);
    color: #cb6868;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    z-index: 3;
    cursor: pointer;
    font-size: 30px;
    position: fixed;
    top: 0px;
    left: 0px;
    transition: margin-left .5s;
    padding: 10px;
}

#main:hover {
    transition: 0.5s;
    border-radius: 15px 15px 15px 15px;
}

#main:not(:hover) {
    transition: 0.5s;
    background: none;
    border-radius: 10px 15px 15px 15px;
}